.classpath
.eclipse/
.idea/
.project
.revision/
.settings/
build/
out/
logs/
*.iml
*/core.*
*/TEST-*.txt
*.la
*.lo
*.o
**/.libs/*
**/.deps/*
**/generated/*
src/java/generated/
src/java/lib/ant-eclipse-*
src/java/lib/ivy-*
src/java/lib/jdiff/zookeeper_3.5.2-alpha.xml
conf/zoo.cfg*
